<?xml version="1.0"?>
<ruleset name="WP-Auto Connector">
	<description>WordPress.org-oriented coding standards for WP-Auto Connector.</description>

	<file>wp-auto-connector.php</file>
	<file>src</file>
	<file>tests</file>
	<file>uninstall.php</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>tests/bootstrap.php</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress">
		<!-- This namespaced project intentionally uses PSR-style class filenames. -->
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>

	<config name="minimum_supported_wp_version" value="6.9"/>
</ruleset>
